// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nyan-indent {

}

.nyan-indent-0 {
  background-color: #ff7f7f30;
}

.nyan-indent-1 {
  background-color: #ffe48130;
}

.nyan-indent-2 {
  background-color: #d2ff8b30;
}

.nyan-indent-3 {
  background-color: #a5d1ff30;
}

.nyan-indent-4 {
  background-color: #e39cff30;
}
